<header>
  <img src="assets/mingus-logo.png">
		<nav>
			<ul class="mainnav clearfix">
        <li class="current"><a href='/'>Home</a></li>
				<li><a href='/foods'>Menu</a></li>
				<li><a href='/parties'>Parties</a></li>
		</ul>
		</nav>
</header>