<html>
  <head>
    <title>Restaurant App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<header>
    <h1>Welcome to the RESTaurant App!</h1>
    <h2>May I please take your order?</h2>
  		<nav>
  			<ul>
  				<li><a href='#'>Menu</a></li>
  				<li><a href='#'>Orders</a></li>
  				<li><a href='#'>Parties</a></li>
  			</ul>
  		</nav>
  	</header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
