<!DOCTYPE html>
<html>
<head>
  <title>Add New | Menu | The Mingus</title>
</head>

<body>
<header>
  <img src="../assets/mingus-logo.png">
    <nav>
      <ul class="mainnav clearfix">
        <li><a href='/'>Home</a></li>
        <li class="current"><a href='/foods'>Menu</a></li>
        <li><a href='/parties'>Parties</a></li>
    </ul>
    </nav>
</header>

  <main>
    <h1>Add New</h1>
    <div class="page">
      <% if @food.errors.any? %>
        <%= @food.errors.full_messages %>
      <% end %>
      <form action="/foods" method='POST'>
          
        <label for="food_name">Name:</label>
        <input id="food_name" type="text" name="food[name]">

        <label for="food_cuisine">Cuisine Type:</label>
        <input id="food_cuisine" type="text" name="food[cuisine]">

        <label for="food_price">Price:</label>
        <input id="food_price" type="text" name="food[price]">

        <label>
        <input type="submit" name="submit" value="Add" id="submit">    
        </label>
      </form>
    </div>
  </main>
</body>