<h2>Food Name: <%= @food.name %><span> $<%= @food.price %></span>
</h2>
<h3>Cuisine: <%= @food.cuisine %></h3>

<ul>
<li><a href="/foods/<%= @food.id %>/edit">Edit Menu Item</a></li>
<li><a href="/foods">View Menu</a></li>
</ul>