<h1>Current Parties:</h1>
<h3><a href="/parties/new">Create A New Party</a></h3>
<br>

<ul>
<% @party.each do |party| %>
  <li>Table Number:
  <a href="/parties/<%= party.id %>"><%= party.table_name%></a>
  </li>
<% end %>
</ul>