<h2>Add a New Party:</h2>

<form action="/parties" method='POST'>

	<label for="party_table_name">Table Name:</label>
	<input id="party_table_name" type="text" name='party[table_name]'>
	<br>

	<label for="party_guests">Guests:</label>
	<input id="party_guests"type="number" name='party[guests]'>
	<br>

	<input type="submit" value="Add">

</form>