<h2>Table Name: <%= @party.table_name %></h2>
<h3>Party of: <%= @party.guests %></h3>

<ul>
	<li><a href="/parties/<%= @party.id %>/order">Add an Order</a></li>
	<li><a href="/parties/<%= @party.id %>/edit">Edit Party Info</a></li>
	<li><a href="/parties">View All Parties</a></li>
<ul>